.App {
  text-align: center;
}

Table{
  width: 100%;

}

Table, td{
  border-collapse: collapse;
}

thead {
  background-color: black;
  color: white;
  position: sticky;
  top: 0
}

tbody{
  background-color: rgb(184, 180, 180);
}

th, td{
  padding: 10px 2px;
  size: 30px
}

td button{
  margin: 2px
}

input{
  width:50%
}

.pagination{
  display: inline-block;
}

.page-item{
  display: inline;
  list-style: none;
  padding: 5px
}

.page-item.to{
  padding: 5px
}

.page-item.active{
  background-color: black;
}

.page-item.active a{
  color: white
}

.page-item a{
  text-decoration: none;
  color: black;
  padding: 5px
}

.page-item :hover{
  background-color: grey;
  color: white
}


.loader-container{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.spinner{
  width: 70px;
  height: 70px;
  border: 8px solid;
  border-color: #342975 ;
  animation: spin-anim 1.2 linear infinite;
}

@keyframes spin-anim{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}